{% extends "../base.html" %}

{% block main %}
<div class="container-fluid">
    <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="/manage/advertisment">广告列表</a></li>
            <li><a href="">添加广告</a></li>
            {% if handler.is_admin %}
            <li><a href="">用户管理</a></li>
            <li><a href="">添加用户</a></li>
            {% end %}
        </ul>
    </div>
    <div class="span9">
        {% block breadcrumbs %}{% end %}
        {% block right_content %}{% end %}
    </div>
</div>
{% end %}