{% extends "../base.html" %}

{% block title %}添加广告{% end %}

{% block breadcrumbs %}
    {% module Template('breadcrumb.html',args=[
        (u'广告列表','/manage/advertisement'),
        (u'添加广告','#'),
        ])
    %}
{% end %}

{% block right_content %}
<form action="/manage/advertisement/action?method=add" method="post">
    <table id="ad_table" class="table table-bordered">
        <thread>
            <tr>
                <th colspan="2">添加广告</th>
            </tr>
        </thread>
        <tr>
            <td>服务器名称</td>
            <td><input name="name" type="text" required></td>
        </tr>
        <tr>
            <td>服务器IP</td>
            <td><input name="server_ip" type="text" required></td>
        </tr>
        <tr>
            <td>客服QQ</td>
            <td><input name="kf_qq" type="text" required></td>
        </tr>
        <tr>
            <td>线路</td>
            <td><input name="link" type="text" required></td>
        </tr>
        <tr>
            <td>版本信息</td>
            <td><input name="comment" type="text" required></td>
        </tr>
        <tr>
            <td>网站地址</td>
            <td>
                <input name="url" type="text" required>
            </td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" class="btn" value="确定">
                    <a class='btn' href="javascript:window.history.back()">返回</a>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% end %}