{% extends "../base.html" %}

{% block title %}广告列表{% end %}

{% block breadcrumbs %}
    {% module Template('breadcrumb.html',args=[
        (u'广告列表','/manage/advertisment'),
        ])
    %}
{% end %}

{% block right_content %}
    <table class="table">
        <tr>
            <th>名称</th>
            <th>服务器IP</th>
            <th>客服QQ</th>
            <th>详细版本介绍</th>
            <th>点击次数</th>
            <th>操作</th>
        </tr>
        {% for ad in ad_list %}
        <tr>
            <td>{{ ad['name'] }}</td>
            <td>{{ ad['server_ip'] }}</td>
            <td>{{ ad['kf_qq'] }}</td>
            <td>{{ ad['comment'] }}</td>
            <td>{{ ad['pv'] }}</td>
            <td>
                <a href="/manage/advertisement/detail/{{ ad['ad_id'] }}" class="btn">操作/详细</a>
                <a href="/manage/advertisement/pv_log/{{ ad['ad_id'] }}" class="btn">访问日志</a>
                <a href="/manage/advertisement/action?method=delete&ad_id={{ ad['ad_id'] }}" onclick="return confirm('确定删除？');" class="btn">删除</a>
            </td>
        </tr>
        {% end %}
    </table>
{% end %}