{% extends "base.html" %}

{% block title %}广告列表{% end %}

{% block main %}
    <table class="table ad_list">
        <tr>
            <th>名称</th>
            <th>创建日期</th>
            <th>开放日期</th>
            <th>服务器IP</th>
            <th>客服QQ</th>
            <th>网站链接</th>
            <th>线路</th>
            <th>描述</th>
            <th>点击次数</th>
            <th>权重</th>
            <th>操作</th>
        </tr>
        <tr>
            <form method="post" action="/sf_ad/action?method=add">
                <td><input type="text" style="width:100px;" name="name" /></td>
                <td>现在</td>
                <td><input type="text" placeholder="2012-12-12" style="width:100px;" name="open_date" /></td>
                <td><input type="text" style="width:100px;" name="server_ip" /></td>
                <td><input type="text" style="width:100px;" name="kf_qq" /></td>
                <td><input type="text" style="width:200px;" name="url" /></td>
                <td><input type="text" style="width:100px;" name="link" /></td>
                <td><input type="text" style="width:100px;" name="comment" /></td>
                <td></td>
                <td><input type="text" style="width:30px;" name="weight" /></td>
                <td><button type="submit" class="btn">添加</button></td>
            </from>
        </tr>
        {% for ad in ad_list %}
        <tr>
            <td>{{ ad['name'] }}</td>
            <td>{{ ad['create_time'] }}</td>
            <td>{{ ad['open_date'] }}</td>
            <td>{{ ad['server_ip'] }}</td>
            <td>{{ ad['kf_qq'] }}</td>
            <td>{{ ad['url'] }}</td>
            <td>{{ ad['link'] }}</td>
            <td>{{ ad['comment'] }}</td>
            <td>{{ ad['pv'] }}</td>
            <td>{{ ad['weight'] }}</td>
            <td></td>
        </tr>
        {% end %}
    </table>
{% end %}