{% extends "../base.html" %}

{% block title %}修改密码{% end %}

{% block breadcrumbs %}
    {% module Template('breadcrumb.html',args=[
        (u'修改密码','/manage/user/change_password'),
        ])
    %}
{% end %}

{% block right_content %}
<form action="/manage/user/action?method=change_password" method="post">
    <table id="ad_table" class="table table-bordered">
        <thread>
            <tr>
                <th colspan="2">修改密码</th>
            </tr>
        </thread>
        <tr>
            <td>原始密码</td>
            <td><input name="old_password" type="password" required></td>
        </tr>
        <tr>
            <td>新密码</td>
            <td><input name="new_password" type="password" required></td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" class="btn" value="确定">
                    <a class='btn' href="javascript:window.history.back()">返回</a>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% end %}